<template>
  <div class="inner-block-wrapper">
    <div class="inner-block">
      <!-- Сюда попадает контент -->
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "BlockBordered"
};
</script>
<style scoped lang="sass">
.inner-block-wrapper
  width: 100%
  padding: 10px
  background-color: rgba(255, 255, 255, 0.3)
  align-items: center
  position: relative
  min-height: 500px

.inner-block-wrapper:before
  background: rgba(8, 23, 38, 0.840)
  content: ""
  position: absolute
  left: 1px
  top: 1px
  right: 1px
  bottom: 1px
  display: block
  z-index: -1

</style>

<style scoped>
.inner-block-wrapper {
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );

}

.inner-block-wrapper:before {
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}
</style>
