<template>
  <q-page padding>
    <!-- content -->
    <addProjekto></addProjekto>
  </q-page>
</template>

<script>
import addProjekto from "components/addProjekto";
export default {
  components: { addProjekto }
  // name: 'PageName',
};
</script>
