<template>
  <q-page class="flex flex-center column">
    <BlockBordered>
      <div class="not-auth-page-main">
        <img
          class="tehnokom_logo"
          alt="Teknokomo"
          src="~app/public/images/logo12.png"
        />
        <p style="font-weight: bold; font-size:30px">Сделайте шаг в будущее</p>
        <q-btn
          class="q-ma-xs"
          unelevated
          rounded
          color="primary"
          label="В будущее"
        >
        </q-btn>
        <img class="arrow" alt="arrow" src="~assets/arrow_curve_white.png"/>
        <p>Нажмите эту кнопку и всё начнется</p>
      </div>
    </BlockBordered>
    <div class="three-info-blocks">
      <div
        v-for="tile in tiles"
        :key="tiles.indexOf(tile)"
        class="sub-navigation-block"
      >
        <BlockBordered>
          <div class="info-block">
            <div class="info-block-img">
              <img :src="tile.image_url" :alt="tile.title"/>
            </div>
            <div class="info-block-side">
              <div class="text-h6">{{ tile.title }}</div>
              <div class="text-h8">{{ tile.text }}</div>
            </div>
          </div>
        </BlockBordered>
      </div>
    </div>
  </q-page>
</template>

<script>
import BlockBordered from "../components/Blocks/BlockBordered";

export default {
  name: "PageIndex",
  components: {
    BlockBordered
  },
  data() {
    return {
      tiles: [
        {
          image_url: "images/main_help.png",
          title: "Помочь в развитии проекта",
          url: "#",
          text: "Полный перечень способов как можно помочь проекту в развитии."
        },
        {
          image_url: "/images/main_doc.png",
          title: "Документация",
          url: "#",
          text: "Всестороннее описание технологий и проектов Технокома."
        },
        {
          image_url: "/images/main_apps.png",
          title: "Клиентские приложения",
          url: "#",
          text: "Полный функционал для различных операционных систем."
        }
      ]
    };
  }
};
</script>
<style lang="sass" scoped>
.not-auth-page-main
  display: flex
  flex-direction: column
  align-items: center

main .tehnokom_logo
  width: 20%
  margin-top: 3rem
  margin-bottom: 1rem

  body.screen--sm &
    width: 200px

  body.screen--xs &
    width: 150px

p
  color: white
  font-size: 20px

.arrow
  width: 15px

.sub-navigation-block
  margin: 10px

.three-info-blocks
  width: 100%
  display: flex
  margin-left: -15px
  flex-direction: row
  justify-content: space-between

  body.screen--sm &
    flex-direction: column

  body.screen--xs &
    flex-direction: column

.info-block
  display: flex
  max-width: 385px
  min-height: 85px
  max-height: 120px

.info-block-img img
  width: 75px
  height: 75px

.info-block-img
  display: flex
  justify-content: center
  padding: 5px

.text-h6
  flex-basis: 40%
  font-size: 18px
  line-height: 130%
  padding-top: 2px
  padding-bottom: 5px

  body.screen--xs &
    font-size: 17px

.text-h8
  flex-basis: 40%

  body.screen--xs &
    font-size: 12px


.info-block-side
  display: flex
  flex-direction: column
  margin-left: 10px


</style>
