<template>
  <div>
    <div v-if="$apollo.loading"><br />Загрузка...</div>
    <q-page v-if="projekto" padding>
      <!-- content -->
      <q-card dark class="my-card q-pa-md">
        <q-card-actions>
          <q-btn label="Удалить проект" @click="delProjekto"></q-btn>
          <q-btn label="Архивировать проект" @click="arkProjekto"></q-btn>
          <q-btn label="Создать задачу" @click="isAddTaskoVisible = true"></q-btn>
        </q-card-actions>
        <q-card-section horizontal>
          <div v-if="projekto.edges" class="q-pa-md  items-start q-gutter-md col-12">
            <div v-for="(prkt, idx) of projekto.edges" :key="idx">
              <q-item dark v-ripple :to="'/test/p' + prkt.node.objId" clickable>
                <q-item-section class="col-5">
                  <q-item-label>{{ prkt.node.nomo.enhavo }}</q-item-label>
                  <q-item-label caption>
                    {{ prkt.node.priskribo.enhavo }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-separator dark vertical />
              <q-item
                dark
                v-for="(tasko, idx) of prkt.node.tasko.edges"
                :key="idx"
                v-ripple
                :to="'/test/p' + prkt.node.objId + '/' + tasko.node.objId"
              >
                <q-item-section>
                  <!--          <q-item-label>Связанные задачи</q-item-label>-->
                  <q-item-label>{{ tasko.node.nomo.enhavo }}</q-item-label>
                  <q-item-label caption>{{ tasko.node.priskribo.enhavo }} </q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-btn @click.prevent="deleteTasko(tasko.node.uuid)">Удалить</q-btn>
                </q-item-section>
                <q-item-section>
                  <q-btn @click.prevent="arkTasko(tasko.node.uuid)">Архивировать</q-btn>
                </q-item-section>
              </q-item>
              <q-separator v-if="projekto.edges.length - idx - 1" dark />
            </div>
          </div>
        </q-card-section>

        <q-form
          @submit="addTaskoj"
          @reset="onReset"
          class="q-gutter-md"
          ref="myForm"
          v-if="isAddTaskoVisible"
        >
          <q-select
            v-if="kategorio"
            dark
            multiple
            outlined
            v-model="kategorioId"
            :options="kategorio.edges"
            label="Категории"
            :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Основная*')"
            :option-value="item => (Object(item) === item ? item.node.objId : null)"
            emit-value
            map-options
          />
          <q-select
            v-if="tipo"
            dark
            outlined
            v-model="tipoId"
            :options="tipo.edges"
            label="Тип"
            :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Основной*')"
            :option-value="item => (Object(item) === item ? item.node.objId : null)"
            emit-value
            map-options
          />
          <q-select
            v-if="statuso"
            dark
            outlined
            v-model="statusoId"
            :options="statuso.edges"
            label="Статус"
            :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Активный*')"
            :option-value="item => (Object(item) === item ? item.node.objId : null)"
            emit-value
            map-options
          />
          <q-input
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
            dark
            outlined
            v-model="nomo"
            label="Название задачи"
          ></q-input>
          <q-input
            dark
            outlined
            v-model="priskribo"
            label="Описание задачи"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
          ></q-input>
          <q-btn :disabled="false" color="positive" type="submit">
            Создать задачу
          </q-btn>
          <q-btn :disabled="false" color="positive" type="reset"> Очистить</q-btn>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
import {
  projektoByUuidQuery,
  universoProjektojTaskoKategorioQuery,
  universoProjektojTaskoStatusoQuery,
  universoProjektojTaskoTipoQuery
} from "src/queries/queries";
import {
  forigoProjekto,
  arkProjekto,
  addTasko,
  forigoTasko,
  arkTasko
} from "src/queries/mutations";

export default {
  data() {
    return {
      uuid: () => this.projekto?.edges[0]?.node?.uuid,
      objId: () => this.$route.params.objId,
      isAddTaskoVisible: false,
      nomo: "",
      priskribo: "",
      kategorioId: null,
      tipoId: null,
      statusoId: null,
      kategorio: void 0,
      tipo: void 0,
      statuso: void 0
    };
  },
  apollo: {
    projekto: {
      query: projektoByUuidQuery,
      variables() {
        return { objId: this.$route.params.objId };
      },
      errorPolicy: "all"
    },
    kategorio: {
      query: universoProjektojTaskoKategorioQuery,
      errorPolicy: "all"
    },
    statuso: {
      query: universoProjektojTaskoStatusoQuery,
      errorPolicy: "all"
    },
    tipo: {
      query: universoProjektojTaskoTipoQuery,
      errorPolicy: "all"
    }
  },
  methods: {
    delProjekto() {
      this.$apollo
        .mutate({
          mutation: forigoProjekto,
          variables: { id: this.uuid(), forigo: true },
          update: () => {
            console.log("Удаляем проект");
          }
        })
        .then(data => {
          if (data?.data?.redaktuUniversoProjektojProjekto?.status) {
            console.log(
              `Проект ${this.uuid()} успешно удален.\nОтвет сервера: ${
                data.data.redaktuUniversoProjektojProjekto.message
              }`
            );
            this.$router.push({ path: "/test/gp" });
          } else {
            console.log(
              `Проект ${this.uuid()} не удален. \nОшибка: ${data?.data
                ?.redaktuUniversoProjektojProjekto?.message ?? "Неизвестно"}`
            );
          }
        })
        .catch(error => {
          console.error(error);
        });
    },
    arkProjekto() {
      this.$apollo
        .mutate({
          mutation: arkProjekto,
          variables: { id: this.uuid(), arkivo: true },
          update: () => {
            console.log("Архивируем проект");
          }
        })
        .then(data => {
          if (data?.data?.redaktuUniversoProjektojProjekto?.status) {
            console.log(
              `Проект ${this.uuid()} успешно отправлен в архив.\nОтвет сервера: ${
                data.data.redaktuUniversoProjektojProjekto.message
              }`
            );
            this.$router.push({ path: "/test/gp" });
          } else {
            console.log(
              `Проект ${this.uuid()} не архивирован. \nОшибка: ${data?.data
                ?.redaktuUniversoProjektojProjekto?.message ?? "Неизвестно"}`
            );
          }
        })
        .catch(error => {
          console.error(error);
        });
    },
    onReset() {
      this.nomo = "";
      this.priskribo = "";
      this.kategorioId = null;
      this.statusoId = null;
      this.tipoId = null;
    },
    addTaskoj() {
      const { nomo, kategorioId, tipoId, statusoId, priskribo } = this.$data;
      this.$refs.myForm.validate().then(success => {
        if (success) {
          this.$apollo
            .mutate({
              mutation: addTasko,
              variables: {
                nomo: nomo,
                kategorio: kategorioId,
                tipoId: tipoId,
                statusoId: statusoId,
                priskribo: priskribo,
                projektoUuid: this.uuid()
              },
              update: () => {
                console.log("Регистрируем задачу");
              }
            })
            .then(data => {
              if (data?.data?.redaktuUniversoProjektojTaskoj?.status) {
                console.log(
                  `Задача ${data.data.redaktuUniversoProjektojTaskoj.universoTaskoj?.uuid} успешно зарегистрирована.\nОтвет сервера: ${data.data.redaktuUniversoProjektojTaskoj.message}`
                );
                this.onReset();
                this.isAddTaskoVisible = false;
                this.$apollo.queries.projekto.refetch();
              } else {
                console.log(
                  `Задача не зарегистрирована. \nОшибка: ${data?.data
                    ?.redaktuUniversoProjektojTaskoj?.message ?? "Неизвестно"}`
                );
              }
            })
            .catch(error => {
              console.error(error);
            });
        } else {
          console.log("Заполните обязательные поля");
        }
      });
    },
    deleteTasko(uuidTasko) {
      this.$apollo
        .mutate({
          mutation: forigoTasko,
          variables: { id: uuidTasko, forigo: true },
          update: () => {
            console.log("Удаляем задачу");
          }
        })
        .then(data => {
          if (data?.data?.redaktuUniversoProjektojTaskoj?.status) {
            console.log(
              `Задача ${uuidTasko} успешно удалена.\nОтвет сервера: ${data.data.redaktuUniversoProjektojTaskoj.message}`
            );
            this.$apollo.queries.projekto.refetch();
          } else {
            console.log(
              `Задача ${uuidTasko} не удалена. \nОшибка: ${data?.data
                ?.redaktuUniversoProjektojProjekto?.message ?? "Неизвестно"}`
            );
          }
        })
        .catch(error => {
          console.error(error);
        });
    },
    arkTasko(uuidTasko) {
      this.$apollo
        .mutate({
          mutation: arkTasko,
          variables: { id: uuidTasko, forigo: true },
          update: () => {
            console.log("Архивируем задачу");
          }
        })
        .then(data => {
          if (data?.data?.redaktuUniversoProjektojTaskoj?.status) {
            console.log(
              `Задача ${uuidTasko} успешно архивирована.\nОтвет сервера: ${data.data.redaktuUniversoProjektojTaskoj.message}`
            );
            this.$apollo.queries.projekto.refetch();
          } else {
            console.log(
              `Задача ${uuidTasko} не архивирована. \nОшибка: ${data?.data
                ?.redaktuUniversoProjektojProjekto?.message ?? "Неизвестно"}`
            );
          }
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
