<template>
  <q-page padding dark>
    <!-- content -->
    <template v-if="tutaProjektoj && tutaProjektoj.edges">
      <q-card
        dark
        flat
        bordered
        v-for="(projekto, idx) in tutaProjektoj.edges"
        :key="idx + 'edges'"
        class="  items-start  col-12 my-card"
      >
        <q-item v-ripple :to="'/test/p' + projekto.node.objId" clickable dark>
          <q-item-section class="col-8">
            <q-item-label>{{ projekto.node.nomo.enhavo }}</q-item-label>
            <q-item-label caption>
              {{ projekto.node.priskribo.enhavo }}
            </q-item-label>
          </q-item-section>
          <q-separator dark vertical />
          <q-item-section>
            <q-item-label class="q-pl-md" caption
              >Связанные задачи: {{ projekto.node.tasko.edges.length }}</q-item-label
            >
          </q-item-section>
        </q-item>
        <q-separator v-if="tutaProjektoj.edges.length - idx - 1" dark />
      </q-card>
      <q-card class="my-card" flat bordered v-if="!$apollo.loading">
        <q-btn
          class=" full-width"
          no-caps
          color="dark"
          v-if="tutaProjektoj.pageInfo && tutaProjektoj.pageInfo.hasNextPage"
          @click="endCursor = tutaProjektoj.pageInfo.endCursor"
          >Загрузить ещё...
        </q-btn>
      </q-card>
    </template>
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script>
import { tutaProjektojQuery } from "src/queries/queries";

export default {
  data() {
    return {
      endCursor: null
    };
  },
  apollo: {
    tutaProjektoj: {
      query: tutaProjektojQuery,
      variables() {
        return { first: 15, after: this.endCursor };
      },
      errorPolicy: "all",
      fetchPolicy: "no-cache"
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
