<template>
  <div class="q-pa-md ">
    <q-stepper
      v-model="step"
      ref="stepper"
      color="primary"
      animated
      dark
    >
      <!--      contracted добавить в q-stepper, чтоб не разъезжались пункты-->
      <q-step
        :step="1"
        :name="1"
        :title=steps[0].text
        icon="settings"
        :done="step > 1"
        dark
      >
        <q-card dark>
          <q-card-section>
            <p>
              На следующих шагах вы можете зарегистрироваться во Всемирной автоматизированной системе Техноком,
              получить
              ваш Tehnokom ID.
            </p>
            <p>
              Tehnokom ID так же применяется и для Universo на (Международном языке (эсперанто) - Вселенная) - это
              Реальный виртуальный мир, первый и единственный в таком роде. Universo - третий блок Всемирной
              автоматизированной системы Техноком. Реальный виртуальный мир совмещает в себе элементы Дополненной
              реальности (Расширенная реальность) и Виртуального пространства (Виртуальный мир).
            </p>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn

              color="positive"
              @click="step++"
            >
              Принимаю
            </q-btn>
          </q-card-actions>
        </q-card>
      </q-step>

      <q-step
        :step="2"
        :name="2"
        :title=steps[1].text
        icon="settings"
        :done="step > 2"
      >
        <reg-form @success="step++"/>
      </q-step>

      <q-step
        :step="3"
        :name="3"
        :title=steps[2].text
        icon="settings"
        :done="step>3"
      >
        <confirm-form @success="step++"/>
      </q-step>

      <q-step
        :step="4"
        :name="4"
        :title=steps[3].text
        icon="settings"
      >
        <p>
          Вы зарегистрировали вашу учётную запись Tehnokom ID и можете использовать её на всех сервисах
          Технокома,
          в
          том числе для авторизации в Universo.
        </p>
        <p>
          Для входа воспользуйтесь
          <a
            href="javascript:void(0);"
            @click="$siriuso.showLoginForm()"
          >
            формой входа на сайт
          </a>.
        </p>
      </q-step>
      <!--оставил заготовку, чтоб можно было двигаться по шагам регистрации произвольно-->
<!--      <template v-slot:navigation>-->
<!--                    <q-stepper-navigation>-->
<!--                      <q-btn @click="$refs.stepper.next()" color="primary" :label="step === 4 ? 'Finish' : 'Continue'"/>-->
<!--                      <q-btn v-if="step > 1" flat color="primary" @click="$refs.stepper.previous()" label="Back" class="q-ml-sm"/>-->
<!--                    </q-stepper-navigation>-->
<!--                  </template>-->


    </q-stepper>
  </div>
</template>

<script>
/* eslint no-console: ["error", { allow: ["warn", "error"] }] */

import {mapGetters, mapMutations} from 'vuex'

export default {
  name: 'Registrado',

  components: {
    RegForm: () => import('../components/RegForm'),
    ConfirmForm: () => import('../components/ConfirmForm')
  },

  data() {
    return {
      steps: [
        {step: 1, text: 'Соглашение'},
        {step: 2, text: 'Данные регистрации'},
        {step: 3, text: 'Подтверждение регистрации'},
        {step: 4, text: 'Завершение регистрации'}
      ],
      step: 1
    }
  },

  computed: {
    ...mapGetters({isLoggedIn: 'siriusoauth/isLoggedIn'}, {konfirmita: 'siriusoauth/konfirmita'})
  },

  watch: {
    '$auth.loggedIn': function (cur, old) {
      if (cur) {
        console.error("Watch. Уже залогинен. Переходим на главную страницу")
        this.$router.push('/')
      }
    },

    konfirmita: function (cur, old) {
      if (cur === false) {
        this.step = 3
      }
    }
  },

  beforeMount() {
    if (this.konfirmita === false) {
      this.step = 3
      this.setKonfirmita(null)
    }

    if (this.isLoggedIn) {
      console.error("beforeMount. Уже залогинен. Переходим на главную страницу")
      this.$router.push('/')
    }
  },

  methods: {
    ...mapMutations({setKonfirmita: 'siriusoauth/setKonfirmita'})
  }
}
</script>

<style scoped>

</style>
