<template>
  <q-page padding>
    <!-- content -->
    {{ this.$route.params.objId }}
    {{ this.$route.params.taskoObjId }}
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
};
</script>
