<template>
  <!-- content -->
  <q-form @submit="addProjekto" @reset="onReset" class="q-gutter-md" ref="myForm">
    <q-select
      v-if="kategorio"
      dark
      multiple
      outlined
      v-model="kategorioId"
      :options="kategorio.edges"
      label="Категории"
      :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Основная*')"
      :option-value="item => (Object(item) === item ? item.node.objId : null)"
      emit-value
      map-options
    />
    <q-select
      v-if="tipo"
      dark
      outlined
      v-model="tipoId"
      :options="tipo.edges"
      label="Тип"
      :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Основной*')"
      :option-value="item => (Object(item) === item ? item.node.objId : null)"
      emit-value
      map-options
    />
    <q-select
      v-if="statuso"
      dark
      outlined
      v-model="statusoId"
      :options="statuso.edges"
      label="Статус"
      :option-label="item => (Object(item) === item ? item.node.nomo.enhavo : 'Активный*')"
      :option-value="item => (Object(item) === item ? item.node.objId : null)"
      emit-value
      map-options
    />
    <q-input
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
      dark
      outlined
      v-model="nomo"
      label="Название проекта"
    ></q-input>
    <q-input
      dark
      outlined
      v-model="priskribo"
      label="Описание проекта"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
    ></q-input>
    <q-btn :disabled="false" color="positive" type="submit">
      Создать проект
    </q-btn>
    <q-btn :disabled="false" color="positive" type="reset"> Очистить</q-btn>
  </q-form>
</template>
<script>
import { addProjekto } from "src/queries/mutations";
import {
  universoProjektojProjektoKategorioQuery,
  universoProjektojProjektoStatusoQuery,
  universoProjektojProjektoTipoQuery
} from "src/queries/queries";
import { mapGetters } from "vuex";

export default {
  // name: 'PageName',
  props: {
    posedantoKomunumoId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      nomo: "",
      priskribo: "",
      kategorioId: null,
      tipoId: null,
      statusoId: null,
      kategorio: void 0,
      tipo: void 0,
      statuso: void 0
    };
  },
  methods: {
    onReset() {
      this.nomo = "";
      this.priskribo = "";
      this.kategorioId = null;
      this.statusoId = null;
      this.tipoId = null;
    },
    addProjekto() {
      const { nomo, kategorioId, tipoId, statusoId, priskribo } = this.$data;
      console.log(this.posedantoKomunumoId);
      this.$refs.myForm.validate().then(success => {
        if (success) {
          this.$apollo
            .mutate({
              mutation: addProjekto,
              variables: {
                nomo: nomo,
                kategorio: kategorioId,
                tipoId: tipoId,
                statusoId: statusoId,
                priskribo: priskribo,
                posedantoUzantoId: this.user.objId
              },
              update: () => {
                console.log("Регистрируем проект");
              }
            })
            .then(data => {
              if (data?.data?.redaktuUniversoProjektojProjekto?.status) {
                console.log(
                  `Проект ${data.data.redaktuUniversoProjektojProjekto.universoProjekto?.uuid} успешно зарегистрирован.\nОтвет сервера: ${data.data.redaktuUniversoProjektojProjekto.message}`
                );
                this.$emit("successed");
              } else {
                console.log(
                  `Проект не зарегистрирован. \nОшибка: ${data?.data
                    ?.redaktuUniversoProjektojProjekto?.message ?? "Неизвестно"}`
                );
              }
            })
            .catch(error => {
              console.error(error);
            });
        } else {
          console.log("Заполните обязательные поля");
        }
      });
    }
  },
  apollo: {
    kategorio: {
      query: universoProjektojProjektoKategorioQuery,
      errorPolicy: "all"
    },
    statuso: {
      query: universoProjektojProjektoStatusoQuery,
      errorPolicy: "all"
    },
    tipo: {
      query: universoProjektojProjektoTipoQuery,
      errorPolicy: "all"
    }
  },
  computed: {
    ...mapGetters({ user: "siriusoauth/user" })
  }
};
</script>
