<template>
  <q-card block bordered class="q-pa-xs q-gutter-xs">
    <q-btn-group push>
      <q-btn dense block bordered size="xs" type="button" @click="addMat = true">Добавить материал</q-btn>
    </q-btn-group>
    <q-dialog v-model="addMat">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="letter" color="primary" text-color="white"/>
          <span class="q-ml-sm">Тут будет форма добавления</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Отмена" color="primary" v-close-popup/>
          <q-btn flat label="Добавить материал" color="primary" @click="addMaterial"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delMat">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="letter" color="primary" text-color="white"/>
          <span class="q-ml-sm">Тут будет форма удаления</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Отмена" color="primary" v-close-popup/>
          <q-btn flat label="Удалить материал" color="primary" @click="deleteMaterial"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <BaseItem2
      :item="item"
      :index="index"
      v-for="(item, index) in materials"
      :key="item.uuid"
      @deleteMaterial="deleteMaterial"/>
  </q-card>
</template>
<script>
import BaseItem2 from './BaseItem2';
import {uid} from 'quasar'
import {mapActions, mapGetters, mapMutations} from "vuex";


export default {
  components: {
    BaseItem2
  },
  data() {
    return {
      materials: this.$store.getters['knowledgeBase/getRoot'],
      addMat: false,
      delMat: false
    }
  },
  methods: {
    addMaterial() {
      const uuid = uid()
      const material = {
        uuid,
        title: `Материал №${uuid}`,
        description: `Новый материал №${uuid}`,
        submaterial: []
      }
      this.materials.push(material)
      this.$store.dispatch('knowledgeBase/addMaterial', material)

      this.addMat = false
    },
    deleteMaterial(index) {
      this.materials.splice(index, 1)
      this.delMat = false

    }
  },
  computed: {
    ...mapGetters({isLoggedIn: 'siriusoauth/isLoggedIn', getStore: 'knowledgeBase/getBase'}),
    ...mapMutations({addMaterialToStore: 'knowledgeBase/addMaterial'}),
    ...mapActions({addMaterialToStoreAction: "knowledgeBase/addMaterial"})


  }
}
</script>
