<template>
  <q-card block bordered class="q-pa-xs q-gutter-xs">
    <q-btn-group push>
      <q-btn dense block bordered size="xs" v-if="parentItem" @click="delSubMat=true">Удалить дочерний материал</q-btn>
      <q-btn dense block bordered size="xs" v-if="!parentItem" @click="delMat=true">Удалить материал</q-btn>
      <q-btn dense block bordered size="xs" type="button" @click="addMat = true">Добавить дочерний материал</q-btn>
    </q-btn-group>
    <q-dialog v-model="addMat">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="letter" color="primary" text-color="white"/>
          <span class="q-ml-sm">Тут будет форма добавления</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Отмена" color="primary" v-close-popup/>
          <q-btn flat label="Добавить материал" color="primary" @click="addSubMaterial"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delMat">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="letter" color="primary" text-color="white"/>
          <span class="q-ml-sm">Тут будет форма удаления</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Отмена" color="primary" v-close-popup/>
          <q-btn flat label="Удалить материал" color="primary" @click="deleteMaterial"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="delSubMat">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="letter" color="primary" text-color="white"/>
          <span class="q-ml-sm">Тут будет форма удаления</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Отмена" color="primary" v-close-popup/>
          <q-btn flat label="Удалить материал" color="primary" @click="deleteSubMaterial"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="text-h6" block bordered>{{ item.title }}</div>
    <div class="text-secondary text-body2" block bordered>{{ item.description }}</div>
    <ul block bordered v-if="item.submaterial && item.submaterial.length > 0">
      <BaseItem2
        v-for="(child, subIndex) in item.submaterial"
        v-bind:item="child"
        :index="subIndex"
        :key="child.uuid"
        :parentItem="item"
        @deleteSubMaterial="deleteSubMaterial"
      />
    </ul>
  </q-card>
</template>
<script>
import {uid} from 'quasar'
import {mapActions, mapGetters, mapMutations} from 'vuex'

export default {
  name: "BaseItem2",
  data() {
    return {
      addMat: false,
      delMat: false,
      delSubMat: false
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    parentItem: {
      required: false
    }
  },

  methods: {
    deleteSubMaterial() {
      this.parentItem.submaterial.splice(this.index, 1)
      this.delSubMat = false

    },
    deleteMaterial() {
      this.$emit('deleteMaterial', this.index)
      this.delMat = false

    },
    addSubMaterial() {
      const uuid = uid()
      const material = {
        uuid,
        title: `Материал №${uuid}`,
        description: `Новый материал №${uuid}`,
        submaterial: []
      }
      this.item.submaterial.push(material)
      this.$store.dispatch('knowledgeBase/addMaterial', material)
      this.addMat = false


    }
  },
  computed: {
    ...mapGetters({isLoggedIn: 'siriusoauth/isLoggedIn', getStore: 'knowledgeBase/getBase'}),
    ...mapMutations({addMaterialToStore: 'knowledgeBase/addMaterial'}),
    ...mapActions({addMaterialToStoreAction: "knowledgeBase/addMaterial"})


  }
}
</script>
