<template>
  <q-card dark>
    <q-card-section>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2"
        >
          <q-form
            ref="confirm_form"
            v-model="form_valid"
            :disabled="processing"
            :lazy-validation="false"

          >
            <q-input
              id="regconfirm"
              v-model="regConfirm"
              :rules="regConfirmRules"
              label="Код подтверждения регистрации"
              :disabled="processing"
              required
              clearable
              maxlength="12"
              dark
            />
          </q-form>
        </div>
      </div>
      <a
        href="javascript:void(0);"
        @click="resendConfirm"
      >
        Я не получил код подтверждения.
      </a>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn
        :disabled="!form_valid || !regConfirm || processing"
        color="positive"
        @click="confirm"
      >
        <span v-if="!processing">
          Подтвердить
        </span>
        <q-circular-progress
          v-else
          indeterminate
          size="28"
        />
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
/* eslint no-console: ["error", { allow: ["warn", "error"] }] */

import {axiosInstance} from "boot/axios";

export default {
  name: 'ConfirmForm',

  data() {
    return {
      form_valid: false,
      processing: false,
      error: '',
      email: '',
      password: '',
      regConfirm: '',
      regConfirmRules: [
        v => !!v || 'Поле обязательно для заполнения',
        v => /^[0-9a-zA-z]+$/.test(v) || 'Неверный код подтверждения',
        v => !this.error || this.error
      ]
    }
  },

  mounted() {
    // Слушаем глобальную шину
    this.$root.$on('authdata', this.setAuthData)
  },

  beforeDestroy() {
    // Отключаемся от глобальной шины
    this.$root.$off('authdata', this.setAuthData)
  },

  methods: {
    setAuthData({login, password}) {
      this.email = login
      this.password = password
    },

    resendConfirm() {
      this.processing = true

      const query = `
mutation($login: String!, $paswd: String!) {
  novaKonfirmaKodo(ensalutu: $login, pasvorto: $paswd) {
    status
    message
  }
}`
      const vars = {
        login: this.email,
        paswd: this.password
      }

      axiosInstance.post('/registrado/', {
        query: query,
        variables: vars
      })
        .then(response => {
          const resp = response.data.data.novaKonfirmaKodo

          alert(resp.message)
          this.processing = false
        })
        .catch(e => {
          this.processing = false
          console.error(e)
        })
    },

    confirm() {
      if (this.$refs.confirm_form && this.$refs.confirm_form.validate()) {
        this.processing = true

        const query = `
mutation($login: String!, $paswd: String!, $confirm: String!) {
  registraKonfirmo(ensalutu: $login, pasvorto: $paswd, konfirmaKodo: $confirm) {
    status
    message
  }
}`
        const vars = {
          login: this.email,
          paswd: this.password,
          confirm: this.regConfirm
        }

        axiosInstance.post('/registrado/', {
          query: query,
          variables: JSON.stringify(vars)
        })
          .then(response => {
            const resp = response.data.data.registraKonfirmo

            if (resp.status) {
              this.$emit('success', true)
            } else {
              this.error = resp.message
              this.$refs.confirm_form.validate()
              this.error = ''
            }
            this.processing = false
          })
          .catch(e => {
            this.processing = false
            console.error(e)
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
