<template>
  <span>
    <q-btn
      flat
      @click="showDialog = true" icon="login" label="Войти"
    />
    <q-dialog
      v-model="showDialog"
      width="380"
      :persistent="processing"

    >
      <q-card dark>
        <q-card-section>
          <div class="text-h6 ">Вход</div>
          <q-space/>
          <q-btn
            icon="close"
            @click="showDialog = !showDialog"
          />
        </q-card-section>
        <q-card-section>
          <q-form
            ref="form"
            v-model="valid"
            :disabled="processing"
            v-on:keyup.enter="login"
          >
            <q-input
              id="username"
              v-model="email"
              :rules="emailRules"
              label="E-mail или телефон"
              :disabled="processing"
              required
              clearable
              dark
            />
            <q-input
              id="password"
              v-model="password"
              type="password"
              label="Пароль"
              :disabled="processing"
              required
              clearable
              maxlength="32"
              dark
            />
          </q-form>
          <q-card-section>
            <q-icon
              v-show="!processing"
              color="primary"
              name="account-plus"
            />
            <router-link
              v-show="!processing"
              to="/registrado"
              @click.native="closeForm"
            >
              Регистрация
            </router-link>
            <q-space/>
            <router-link
              v-show="!processing"
              to="/restarigi"
              @click.native="closeForm"
            >
              Забыли пароль?
            </router-link>
          </q-card-section>
        </q-card-section>
        <q-card-actions>
          <q-btn
            color="primary"
            @click="showDialog = !showDialog" label="Отмена"/>
          <q-space/>
          <q-btn
            color="positive"
            :disabled="loginBtnDisabled || processing"
            @click="login"
            v-if="!processing"
            label="Войти"
          >

          </q-btn>
                    <q-circular-progress
                      v-else
                      indeterminate
                      size="28"
                    />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </span>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'LoginBtn',

  data() {
    return {
      showDialog: false,
      processing: false,
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'Укажите e-mail или телефон',
        v => /[^@]+@[^@]+\.[^@]+/.test(v) || /\+[0-9]{3,12}/.test(v) || 'Указан некорректный e-mail или телефон',
        () => !this.error || this.error
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Введите пароль',
        v => /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) || 'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        v => (v.length >= 6 && v.length <= 32) || 'Пароль должен иметь длину от 6 до 32 символов'
      ],
      error: ''
    }
  },

  computed: {
    ...mapGetters(['siriusoauth/konfirmita']),
    loginBtnDisabled() {
      return !this.email || !this.password
    }
  },

  watch: {
    // Сбрасываем форму при её закрытии
    showDialog: function (cur, old) {
      if (!cur) {
        this.reset()
        this.$root.$emit('close-login-form')
      }
    },
    email: function (cur, old) {
      this.error = ''
    },
    password: function (cur, old) {
      this.error = ''
    }
  },

  mounted() {
    this.$auth.fetchUser()
  },

  created() {
    this.$root.$on('show-login-form', this.toggleLoginForm)
    this.$root.$on('close-login-form', this.closeForm)
  },

  beforeDestroy() {
    this.$root.$off('show-login-form', this.toggleLoginForm)
    this.$root.$off('close-login-form', this.closeForm)
  },

  methods: {
    toggleLoginForm() {
      this.showDialog = !this.showDialog
    },

    closeForm() {
      this.processing = false
      this.showDialog = false
    },

    reset() {
      if (this.$refs.form) {
        this.$refs.form.reset()
        this.error = ''
      }
    },

    login() {
      if (!this.$auth.isLoggedIn) {
        this.processing = true
        this.error = ''

        this.$refs.form.validate()

        this.$auth.login(this.email, this.password)
          .then(response => {
            this.processing = false
            this.$auth.fetchUser()
              .then(resp => {
                this.closeForm()
              })
          })
          .catch(e => {
            this.processing = false

            if (this.konfirmita === false) {
              this.$router.push('/registrado')
              this.$nextTick(() => {
                this.$root.$emit('authdata', {login: this.email, password: this.password})
                this.closeForm()
              })
            }

            this.error = 'Неверный логин или пароль'


            this.$refs.form.validate()
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
