<template>
  <q-card dark>
    <q-card-section>
      <!--      <div class="row">-->
      <!--        <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5"-->
      <!--        >-->
      <q-form ref="reg_form" v-model="form_valid" :disabled="processing" :lazy-validation="false">
        <q-input
          id="first_name"
          v-model="first_name"
          :rules="nameRules"
          label="Имя"
          :disabled="processing || nick_only"
          maxlength="32"
          required
          clearable
          dark
        />
        <q-input
          id="last_name"
          v-model="last_name"
          :rules="lastNameRules"
          label="Фамилия"
          :disabled="processing || nick_only"
          maxlength="48"
          required
          clearable
          dark
        />
        <q-input
          id="username"
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          :disabled="processing || nick_only"
          required
          clearable
          maxlength="128"
          dark
        />
        <!--            <div class="row">-->
        <!--              <div class="col-xs-7 col-sm-3 col-md-4 col-lg-3"-->
        <!--              >-->
        <q-select
          id="tel_code"
          v-model="tel_code"
          label="Код страны"
          :options="optionsTelKodo"
          :rules="telCodeRules"
          :disabled="processing || nick_only"
          clearable
          use-input
          input-debounce="0"
          @filter="filterFn"
          dark
        >
          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
              <q-item-section>
                <q-avatar>
                  <q-img v-if="scope.opt.flag" :src="scope.opt.flag" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label v-html="scope.opt.label" />
                <q-item-label caption>{{ scope.opt.nomo }}</q-item-label>
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <!--              </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--              <div class="col-xs-12 col-sm-9 col-md-8 col-lg-9"-->
        <!--              >-->
        <q-input
          id="tel_number"
          v-model="tel_number"
          label="Телефон"
          :disabled="processing || nick_only"
          :rules="telNumberRules"
          maxlength="16"
          required
          clearable
          dark
        />
        <!--              </div>-->
        <!--            </div>-->
        <q-select
          v-model="sex"
          label="Пол"
          :options="sexes"
          :disabled="processing || nick_only"
          clearable
          dark
        />
        <q-input label="Дата рождения" v-model="birthday_date" mask="date" :rules="['date']" dark>
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date v-model="birthday_date">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-select
          v-model="language"
          label="Основной язык"
          :options="infoj.lingvoj"
          :rules="langRules"
          :disabled="processing || nick_only"
          clearable
          dark
        >
          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
              <q-item-section>
                <q-avatar>
                  <q-img :src="scope.opt.flag" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label v-html="scope.opt.label" />
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-input
          v-model="password"
          :rules="passwordRules"
          type="password"
          label="Пароль"
          :disabled="processing || nick_only"
          required
          clearable
          maxlength="32"
          dark
        />
        <q-input
          id="confirm"
          v-model="confirm_password"
          :rules="confirmRules"
          type="password"
          label="Подтверждение пароля"
          :disabled="processing || nick_only"
          required
          clearable
          maxlength="32"
          dark
        />
        <vue-recaptcha
          :sitekey="sitekey"
          size="compact"
          :load-recaptcha-script="true"
          @expired="resetReCapchaKey"
          @error="resetReCapchaKey"
          @verify="setReCapchaKey"
          align="right"
        />
      </q-form>
      <!--        </div>-->
      <!--      </div>-->
    </q-card-section>
    <q-card-actions align="right">
      <q-btn
        :disabled="!form_valid || !recapcha_key || processing"
        color="positive"
        @click="registration"
      >
        <span v-if="!processing">
          Зарегистрироваться
        </span>
        <q-circular-progress v-else indeterminate size="28" />
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import gql from "graphql-tag";
import VueRecaptcha from "vue-recaptcha";
import { axiosInstance } from "boot/axios";

const nameRegexp = /[№~!?;,:'"@#$%^&*()_+{}<>\\[\]\\/]/;
export default {
  name: "RegForm",
  components: {
    VueRecaptcha
  },
  data() {
    return {
      menu: false,
      nick_only: false,
      sitekey: process.env.VUE_APP_RECAPTCHA_SITE_KEY || "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
      form_valid: false,
      processing: false,
      errors: {},
      infoj: {
        landoj: [],
        lingvoj: [],
        tel_kodoj: []
      },
      optionsTelKodo: null,
      recapcha_key: null,
      first_name: "",
      last_name: "",
      nameRules: [
        v => !!v || "Поле обязательно для заполнения",
        v =>
          !nameRegexp.test(v) ||
          "Поле имеет недопустимые символы: скобки, подчеркивания, знаки препинания (кроме точки) и пр."
      ],
      lastNameRules: [
        v =>
          !nameRegexp.test(v) ||
          "Поле имеет недопустимые символы: скобки, подчеркивания, знаки препинания (кроме точки) и пр."
      ],
      nickname: "",
      nicknameRules: [
        v => !!v || "Поле обязательно для заполнения",
        v => !v.length || v[0] !== "-" || "Ник не может начинаться с символа минуса",
        v =>
          /^[a-zA-Z0-9ĈĉĤĥĴĵŜŝŬŭ-]+$/.test(v) ||
          "Ник может содержать только латинские символы, цифры, символ минуса, а так же расширенные символы эсперанто (ĈĉĤĥĴĵŜŝŬŭ)",
        v => (v.length >= 5 && v.length < 31) || "Ник должен быть иметь длину от 5 до 30 символов",
        v => !this.errors.hasOwnProperty("unuaNomo") || this.errors.unuaNomo
      ],
      email: "",
      emailRules: [
        v => !!v || "Поле обязательно для заполнения",
        v => /^[^@]+@[^@]+\.[^@]+$/.test(v) || "Указан некорректный e-mail",
        v => !this.errors.hasOwnProperty("chefaRetposhto") || this.errors.chefaRetposhto
      ],
      tel_code: null,
      tel_number: null,
      telCodeRules: [v => !!v || !this.tel_number || "Укажите код"],
      telNumberRules: [
        v => !!v || !this.tel_code || "Укажите номер телефона",
        v => /[0-9]+/.test(v) || !v || "Недопустимые символы",
        v => !this.errors.hasOwnProperty("chefaTelefonanumero") || this.errors.chefaTelefonanumero
      ],
      sexes: [
        { label: "Не указан", value: null },
        { label: "Мужской", value: "vira" },
        { label: "Женский", value: "virina" }
      ],
      sex: null,
      birthday_date: null,
      language: null,
      langRules: [
        v => !!v || "Поле обязательно для заполнения",
        v => !this.errors.hasOwnProperty("lingvo") || this.errors.lingvo
      ],
      password: "",
      passwordRules: [
        v => !!v || "Поле обязательно для заполнения",
        v =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        v => (v.length >= 6 && v.length <= 32) || "Пароль должен иметь длину от 6 до 32 символов",
        v => !this.errors.hasOwnProperty("pasvorto") || this.errors.pasvorto
      ],
      confirm_password: "",
      confirmRules: [
        v => !!v || "Поле обязательно для заполнения",
        v =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        v => this.password === v || "Пароли не совпадают"
      ]
    };
  },

  mounted() {
    this.loadInfoData();
  },

  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.optionsTelKodo = this.infoj.tel_kodoj.filter(
          v => v.value.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    mapErrorObject(errors) {
      let out = {};
      for (let item of errors) {
        out[item.field] = item.message;
      }
      return out;
    },
    registration() {
      if (!this.nick_only && this.$refs.reg_form && this.$refs.reg_form.validate()) {
        this.processing = true;
        const query = gql`
          mutation(
            $email: String!
            $paswd: String!
            $first_name: String!
            $last_name: String!
            $lang: String
            $tel: String
            $sex: String
            $captcha: String!
          ) {
            registrado(
              chefaRetposhto: $email
              pasvorto: $paswd
              unuaNomo: $first_name
              familinomo: $last_name
              chefaTelefonanumero: $tel
              lingvo: $lang
              sekso: $sex
              reCaptcha: $captcha
            ) {
              status
              errors {
                field
                message
              }
              message
            }
          }
        `;
        let vars = {
          email: this.email,
          paswd: this.password,
          first_name: this.first_name,
          last_name: this.last_name,
          lang: this.language.value,
          tel: `${this.tel_code.value || ""}${this.tel_number || ""}`,
          sex: this.sex.value || null,
          captcha: this.recapcha_key
        };
        axiosInstance
          .post("/registrado/", {
            query: query,
            variables: JSON.stringify(vars)
          })
          .then(response => {
            const resp = response.data.data.registrado;
            if (resp.status) {
              this.$root.$emit("authdata", { login: this.email, password: this.password });
              this.$emit("success", true);
            } else {
              this.errors = this.mapErrorObject(resp.errors);
              this.$refs.reg_form.validate();
              this.errors = {};
              this.processing = false;
            }
          })
          .catch(e => {
            console.error(e);
            this.processing = false;
          });
      } else if (this.nick_only) {
        this.setNickname();
      }
    },
    setReCapchaKey(resp) {
      this.recapcha_key = resp;
    },
    resetReCapchaKey() {
      this.recapcha_key = null;
    },
    loadInfoData() {
      const query = `
query {
  informilojLingvoj {
    edges {
      node {
        uuid
        kodo
        nomo
        flago
      }
    }
  }

  informilojLandoj {
    edges {
      node {
        uuid
        flago
        kodo
        nomo {
          enhavo
        }
        telefonakodo
      }
    }
  }
}
        `;
      axiosInstance
        .post("", { query: query })
        .then(response => {
          this.infoj.lingvoj = response.data.data.informilojLingvoj.edges.map(v => ({
            id: v.node.uuid,
            label: v.node.nomo,
            value: v.node.kodo,
            flag: v.node.flago
          }));
          for (let cur of response.data.data.informilojLandoj.edges) {
            this.infoj.landoj.push({
              id: cur.node.uuid,
              label: cur.node.nomo.enhavo,
              value: cur.node.kodo
            });
            this.infoj.tel_kodoj.push({
              label: cur.node.telefonakodo,
              value: cur.node.telefonakodo,
              flag: cur.node.flago,
              id: cur.node.uuid,
              nomo: cur.node.nomo.enhavo,
              kodo: cur.node.kodo
            });
          }
          this.optionsTelKodo = this.infoj.tel_kodoj;
        })
        .catch(e => {
          console.error(e);
        });
    }
  }
};
</script>
<style scoped></style>
