<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Tehnokom App
        </q-toolbar-title>


        <q-list>
          <q-item v-if="isLoggedIn">
            <q-item-section>
              <user-btn ref="user_btn"/>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple v-if="!isLoggedIn"
                  @click="showLoginForm">
            <q-item-section avatar>
              <q-icon name="login"/>
            </q-item-section>
            <q-item-section>Войти</q-item-section>
          </q-item>
          <!--          <q-item clickable v-ripple v-else @click="logout">-->
          <!--            <q-item-section avatar>-->
          <!--              <q-icon name="logout"/>-->
          <!--            </q-item-section>-->
          <!--            <q-item-section>Выйти</q-item-section>-->
          <!--          </q-item>-->
        </q-list>
        <login-btn
          ref="login_btn"
          v-show="false"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      :show-if-above=false
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>

      <router-view/>

    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import {mapGetters} from 'vuex'


const linksData = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

export default {
  name: 'MainLayout',
  components: {
    EssentialLink,
    LoginBtn: () => import('../components/Login'),
    UserBtn: () => import('../components/UserBtn')
  },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },
  computed: {
    ...mapGetters({isLoggedIn: 'siriusoauth/isLoggedIn'}),

  },
  methods: {
    showLoginForm() {
      if (this.$refs.login_btn) {
        this.$refs.login_btn.toggleLoginForm()
      }
    },

    logout() {
      if (this.$refs.user_btn) {
        this.$refs.user_btn.logout()
      }
    }
  }

}
</script>
<style scoped>
.m {
  background-image: url(images/background.jpg)
}
</style>
